<div class="data-com__ctn">
<div class="card text-center"  style="width: 18rem; margin: 0 40px;">
    <div class="card-body">
        <h5 class="card-title">Parent</h5>
        <p>Data: </p>
        <hr/>
        <h5 class="card-title">Child</h5>
        <p>Greeks for geek</p>
        <p>Welcome to angular</p>
        <button class="btn btn-primary">Send data to parent</button>
    </div>
</div>
<div class="card text-center"  style="width: 18rem">
    <div class="card-body">
        <h5 class="card-title">Parent</h5>
        <p>Data: </p>
        <hr/>
        <h5 class="card-title">Child</h5>
        <button class="btn btn-primary">Send data to parent</button>
    </div>
</div>
</div>


