.data-com {
  &__ctn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    p {
      margin: 0;
    }
    .btn-primary {
      margin-top: 10px;
    }
  }
}
