<div class="data-com__ctn">
<div class="card text-center"  style="width: 18rem; margin: 0 40px;">
    <div class="card-body">
        <h5 class="card-title">Parent</h5>
        <p>Data: {{receivedMessage}}</p>
        <p>The count is: {{siblingCommunication}}</p>
        <hr/>
       <app-child [color]="red" [primaryColor]="blue" (messageEvent)="recieveMessage($event)"></app-child>
       <hr/>
       <app-viewchild></app-viewchild>
    </div>
</div>
<div class="card text-center"  style=" margin: 0 40px;padding: 10px;">
    <h5>Slibling Communication</h5>
<app-component-a></app-component-a>
<app-component-b></app-component-b>
</div>

</div>


