.header-ctn {
    background-color: rgb(108, 108, 246);
}
.nav-list {
    display: flex;
    li {
        list-style-type: none;
        padding: 10px 30px;
        font-size: 16px;
        color: #fff;
        cursor: pointer;
        display: inline;
        &:hover {
            background-color: rgb(101, 101, 192);
        }
    }
}
