<p>{{'pipe works!' | reverse}}</p>
<p>{{'Hi Im divya from hyderabad' | uppercase}}</p>
<p>{{'Hi Im divya from hyderabad' | UppercaseFirst}}</p>

<input [(ngModel)]="inputVal" placeholder="Type here to trigger change detection!" />


<p>Pure Pipe: {{ inputVal | reversePure }}</p>
<p>Impure Pipe: {{ inputVal | reverseImpure }}</p>

<p>Array length: {{ myArray | impureExample }}</p>
<p>{{ 'angular' | pureExample }}</p>
<h5> Passing parameters to pipes </h5>
<p>{{'divya' | fullName: 'sree' : 'FL' : 'upper'}}</p>
<p>{{'divya' | fullName: 'sree' : 'LF' : 'lower'}}</p>
<p>{{'divya' | fullName: 'sree'}}</p>
<h5>Combining multiple pipes in the same expression</h5>
<p>{{'2025-05-14' | customDate | uppercase}}</p>
